include _nav
include _footer

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            =title
        link(rel="stylesheet", href="/static/libs/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src='/static/libs/jquery/1.12.4/jquery.js')
        script(src='/static/libs/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/static/js/Service.js')
        script(src='/static/js/ViewModel.js')
        script(src='/static/js/Controller.js')
        link(rel="stylesheet", href="/static/css/main.css")
        block head
    body
        header
            div.container
                +nav()
        div#main.container
            block body