//- extends ../_shared/_master
block body
    div.row
        div.col-md-8
            div.form-group
                label.control-label(for="postUsername")
                    | Username
                div.input-group
                    input.form-control(type="hidden", name="postUsername", value=user)
            div.form-group
                label.control-label(for="title")
                    | Title
                div.input-group
                    input.form-control(type="text", name="postTitle", placeholder="Enter title...", required="true")
            
            div.form-group
                label.control-label(for="description")
                    | Description
                div.input-group
                    textarea.form-control(name="postDescription", placeholder="Enter description...", required="true", rows="15")
            
            div.form-group
                button.btn.btn-primary.btn-lg.btn-block.login-button(onclick="Controller.createPost()")
                    | Create Post