block body
    div#mainHome
        div.row
            div.col-md-4
                div.card-body
                    h2.card-title
                        | What We Offer
                    p.card-text
                        | You could have the availability to create a profile, login and create posts in our handsome blog.
                    a.card-footer.btn.btn-default.pull-right(href="/#blog")
                        | Read More
            div.col-md-4
                div.card-body
                    h2.card-title
                        | Who We Are
                    p.card-text
                        | Desired keen on programming person.
                    a.card-footer.btn.btn-default.pull-right(href="/#about")
                        | Read More
            div.col-md-4
                div.card-body
                    h2.card-title
                        | Join Us
                    p.card-text
                        | Do your registration and join the team.
                    a.card-footer.btn.btn-default.pull-right(href="/#auth/sign-up")
                        | Read More